.group-color {
    background-color:#d9edf7;
}
.list-group-item {
    padding: 0px;
}
.table-nonfluid {
    width: auto !important;
}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
html {
    overflow-y: auto;
}
.has-success, .has-success .form-control {
    /*color:#000000 !important;*/
    border-color:#d2d6de !important;
}
.form-group.has-success label{
    color: #000000;
}